.blog{
    position: absolute;
    display: grid;
    grid-template-columns: 350px 350px;
margin-left: 50px;   
border: solid;
grid-column-gap: 45px;
    /* box-sizing: none; */
}
.box1{
    /* box-sizing: border-box;
    border: 2px solid; */
    margin-left: 20px;
    margin-bottom: 20px;
}
img{
    height:100%;
    width: 100%;
    /* border: solid; */
}